{
    "classes": [
        "Ubiquitous System Architecture",
        "Fundamentals of Information Technology 1",
        "Fundamentals of Information Technology 2",
        "Physical Education 1"
    ]
}
